<% let table_name = 'Multiplication table 9 X'; %>
<% let number = '9'; %>
<h1><%= table_name %></h1>
<hr/>
<% for (let i = 0; i < 10;i += 1) { %>
    <h2><%= number %> X <%= i %> = <%= number * i %></h2>
<% } // for   %>