Html
    head
        title Pug example page
        body
            h1 Hello Pug module
            h2 Nice to meet you
            a(href="http://github.com/pugjs/pug", data-set="multiple Atrribute") Github for pug
